<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script lenguaje="javascript" src="js/proyecto1.js"></script>
    <script lenguaje="javascript" src="js/botones.js"></script>
    <script lenguaje="javascript" src="js/tabla.js"></script>
    <link rel="stylesheet" href= "css/estilos.css">
    <title>Task list</title>
</head>
<body onload = "init()">

  <!-- declaracion de header con Bosstrap -->
<header>
    <nav class="navbar navbar-light bg-warning">
        <span class="textoheader">
        <h1>Bienvenido al Anotador de Tareas</h1>
        </span>
      </nav>
</header>
<main>
  <!-- contenedor donde alojo la parte donde ingreso las tareas y los botones -->
  <div class="container">
    <div class="col-md-6 col-xs-12"></div>
    <form class="form-group text-center" id="formulario">
    <label for="exampleFormControlTextarea1">Ingrese la nueva tarea</label>
    <input ng-model="yourTask"type="text"class="form-control"id="ingresarTareaInput" />
    <input ng-model="yourTask"type="date"class="form-control"id="fechaLimite"/>

    <button type="button" class="btn btn-success" id="guardarTareaBtn">Guardar</button>
   
    <div class="divbotonBorrar">
      <label for="exampleFormControlTextarea1">Ingrese el ID</label>
      <input ng-model="yourTask"type="text"class="form-control"id="ingresarIdInput"value="ingrese id"/> 
    <button type="button" class="btn btn-danger" id="borrarTareaBtn">Borrar</button>
    <button type="button" class="btn btn-warning" id="botonRealizada">Realizada</button>
  </div>

<div class="table-wrapper" id="divListaTareas">
  //lista de tareas
</div>

</form>
</div>
</div>
</main>


<footer></footer>





<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>   
<script src="js/sweetalert.js"></script>     
       
</body>
</html>